<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Acamp.in</title>
</head>
<body>
    <section class="background-main">
        <header>
            <nav>
                <%= image_tag("logomarca.png", :alt => "Logo NobeSistemas") %>
            </nav>
        </header>
            <section class="background_form" style="height: 550px;">
            
                <%=simple_form_for @user, url: users_path, method: :post, action: :create, remote: true do |f|%>
                
                    <form action='/users' method='post'>
                        <div class="form_title">
                            <%= image_tag("log-in.svg", :alt => "Icon Login", class: "icon") %>
                            <h1>Faça seu cadastro</h1>
                            <p>Entre com suas informações para o cadastro.</p>
                        </div>
                        <div class="area_input">
                        <label for="name" class="label_title">Nome
                            <div class="box_input">

                                <%= f.input :name, type: :text,label: false, placeholder: "Digite seu nome completo", required: false %>

                            </div>
                        </label>
                    </div>
                    <div class="area_input">
                    <label for="cpf" class="label_title">Cpf
                        <div class="box_input">
                            <%= f.input :cpf, type: :text, label: false, placeholder: "Digite seu cpf", required: false %>
                        </div>
                    </label>
                </div>
                        <div class="area_input">
                            <label for="email" class="label_title">E-mail
                                <div class="box_input">
                                    <%= f.input :email, type: :email, label: false, placeholder: "Seu email aqui", required: true %>
                                </div>
                            </label>
                        </div>
                        <div class="area_input">
                            <label class="label_title" for="password">Senha
                                <div class="box_input">
                                    <%= f.input :password_digest, type: :password, id:"password", label: false, placeholder: "Digite sua senha", required: false %>

                                </div>
                            </label>
                        </div>
                        <div class="area_input area_input_submit">
                            <%= f.button :submit, 'Enviar', class: "area_input area_input_submit" %>
                        </div>
                    </form>
                    <% end %>
            </section>
    </section>
</body>
