<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bank Dashbord</title>

  <!-- title  icon  -->
  <link rel="icon" sizes="192x192" href="https://static.figma.com/app/icon/1/icon-192.png" />
  <link rel="icon" sizes="128x128" href="https://static.figma.com/app/icon/1/icon-128.png" />
  <link rel="icon" type="image/png" href="https://static.figma.com/app/icon/1/favicon.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://static.figma.com/app/icon/1/touch-76.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="https://static.figma.com/app/icon/1/touch-120.png" />

  <!-- gogle fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <!-- dashbord section start -->
  <section class="dashbord">
    <!-- dashbord sidebar start  -->
    <div class="dashbord__sidebar">
      <div class="dashbord__sidebar__logo">
        <svg width="40" height="40" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.0671 6.96338L23.6118 5.41866C26.6453 2.38522 31.5837 2.31014 34.6347 5.3261C35.7907 6.47144 36.559 7.95014 36.8315 9.5545C37.104 11.1589 36.867 12.8083 36.154 14.2711C35.8119 14.9698 35.6967 15.758 35.8242 16.5254C35.952 17.2929 36.316 18.0013 36.8658 18.5517C37.8768 17.5384 38.6781 16.3358 39.2241 15.0127C39.7702 13.6895 40.0502 12.2718 40.0482 10.8404C40.0461 9.40908 39.7622 7.99213 39.2124 6.67057C38.6626 5.34898 37.8578 4.14868 36.844 3.13822C32.5779 -1.10386 25.6531 -1.01944 21.3989 3.23455L6.67509 17.958L5.46466 16.7476C2.37978 13.6627 2.36012 8.62013 5.49942 5.59008C6.66145 4.47194 8.1419 3.74203 9.73644 3.50109C11.331 3.26016 12.961 3.52008 14.4015 4.24497C15.059 4.5819 15.8061 4.70243 16.5362 4.58935C17.2663 4.47627 17.942 4.13537 18.4668 3.61532L18.5043 3.57798C18.516 3.56638 18.5253 3.55258 18.5316 3.53736C18.5379 3.52217 18.5412 3.50586 18.5412 3.48939C18.5412 3.47293 18.5379 3.45662 18.5316 3.44143C18.5253 3.42623 18.516 3.41243 18.5043 3.40081C16.4778 1.42519 13.7622 0.315486 10.932 0.306514C8.10181 0.297544 5.37915 1.39001 3.34014 3.35274C-1.0521 7.59283 -1.03641 14.6437 3.28056 18.9607L18 33.6801L16.4364 35.2437C13.403 38.2772 8.46433 38.3522 5.41361 35.3363C4.25758 34.191 3.48935 32.7122 3.21682 31.1079C2.9443 29.5036 3.18114 27.8542 3.89411 26.3913C4.23617 25.6925 4.35145 24.9044 4.22388 24.1371C4.09628 23.3696 3.73217 22.6611 3.18243 22.1107C2.17148 23.1241 1.37009 24.3266 0.824041 25.6496C0.277989 26.9729 -0.00201806 28.3905 1.09485e-05 29.822C0.00203997 31.2533 0.286065 32.6703 0.835867 33.9918C1.38567 35.3134 2.19047 36.5137 3.20428 37.5242C7.4702 41.7664 14.3951 41.6822 18.6493 37.428L33.3922 22.6849L34.6072 23.8999C37.6407 26.9334 37.7158 31.8718 34.6998 34.9225C33.5545 36.0788 32.0757 36.8468 30.4714 37.1196C28.8671 37.3921 27.2177 37.1551 25.7548 36.442C25.0559 36.0998 24.2673 35.9844 23.4996 36.1123C22.7319 36.24 22.0232 36.6045 21.4728 37.1547C22.4862 38.1657 23.6887 38.9672 25.0118 39.5132C26.335 40.0592 27.7526 40.3393 29.1841 40.3373C30.6154 40.3351 32.0324 40.0511 33.3539 39.5013C34.6756 38.9515 35.8759 38.1467 36.8863 37.1329C41.1286 32.867 41.0442 25.942 36.7902 21.688L22.0671 6.96338ZM20.198 31.4811L8.8737 20.1568L19.8683 9.16239L31.1926 20.4867L20.198 31.4811Z"
            fill="#D08726" />
        </svg>
      </div>
      <div class="dashbord__sidebar__menu">
        <ul>
          <li>
            <a href="#" class="#{active_menu('users','users')}">
              <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M335.367,257.951c-7.187,0-13.033,5.847-13.033,13.034v43.562c0,7.187,5.847,13.033,13.033,13.033H512v-69.628H335.367z M357.347,312.858c-11.097,0-20.094-8.996-20.094-20.094c0-11.097,8.996-20.094,20.094-20.094s20.094,8.996,20.094,20.094 C377.44,303.862,368.444,312.858,357.347,312.858z"></path> </g> </g> <g> <g> <path d="M335.367,227.534H512V152.95c0-23.959-19.492-43.45-43.45-43.45h-6.084H133.703H43.45C19.492,109.5,0,128.991,0,152.95 v310.047c0,23.959,19.492,43.451,43.45,43.451h425.099c23.959,0,43.45-19.492,43.45-43.451v-105H335.367 c-23.959,0-43.45-19.491-43.45-43.45v-43.562C291.917,247.026,311.41,227.534,335.367,227.534z"></path> </g> </g> <g> <g> <polygon points="425.425,5.552 219.067,79.082 451.626,79.082 "></polygon> </g> </g> </g></svg>
            </a>
          </li>

          <li>
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M535 7.03C544.4-2.343 559.6-2.343 568.1 7.029L632.1 71.02C637.5 75.52 640 81.63 640 87.99C640 94.36 637.5 100.5 632.1 104.1L568.1 168.1C559.6 178.3 544.4 178.3 535 168.1C525.7 159.6 525.7 144.4 535 135L558.1 111.1L384 111.1C370.7 111.1 360 101.2 360 87.99C360 74.74 370.7 63.99 384 63.99L558.1 63.1L535 40.97C525.7 31.6 525.7 16.4 535 7.03V7.03zM104.1 376.1L81.94 400L255.1 399.1C269.3 399.1 279.1 410.7 279.1 423.1C279.1 437.2 269.3 447.1 255.1 447.1L81.95 448L104.1 471C114.3 480.4 114.3 495.6 104.1 504.1C95.6 514.3 80.4 514.3 71.03 504.1L7.029 440.1C2.528 436.5-.0003 430.4 0 423.1C0 417.6 2.529 411.5 7.03 407L71.03 343C80.4 333.7 95.6 333.7 104.1 343C114.3 352.4 114.3 367.6 104.1 376.1H104.1zM95.1 64H337.9C334.1 71.18 332 79.34 332 87.1C332 116.7 355.3 139.1 384 139.1L481.1 139.1C484.4 157.5 494.9 172.5 509.4 181.9C511.1 184.3 513.1 186.6 515.2 188.8C535.5 209.1 568.5 209.1 588.8 188.8L608 169.5V384C608 419.3 579.3 448 544 448H302.1C305.9 440.8 307.1 432.7 307.1 423.1C307.1 395.3 284.7 371.1 255.1 371.1L158.9 372C155.5 354.5 145.1 339.5 130.6 330.1C128.9 327.7 126.9 325.4 124.8 323.2C104.5 302.9 71.54 302.9 51.23 323.2L31.1 342.5V128C31.1 92.65 60.65 64 95.1 64V64zM95.1 192C131.3 192 159.1 163.3 159.1 128H95.1V192zM544 384V320C508.7 320 480 348.7 480 384H544zM319.1 352C373 352 416 309 416 256C416 202.1 373 160 319.1 160C266.1 160 223.1 202.1 223.1 256C223.1 309 266.1 352 319.1 352z"/></svg>
            </a>
          </li>

          <li>
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">

              <defs>
              </defs>
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                <path d="M 0.153 25.244 C 0.126 25.31 0.11 25.379 0.09 25.446 c -0.017 0.057 -0.039 0.112 -0.051 0.171 c -0.051 0.259 -0.051 0.525 0 0.783 c 0.012 0.059 0.034 0.114 0.051 0.171 c 0.02 0.068 0.036 0.136 0.063 0.202 c 0.028 0.067 0.066 0.128 0.101 0.192 c 0.028 0.051 0.05 0.104 0.083 0.153 c 0.074 0.11 0.157 0.213 0.251 0.306 l 18.228 18.228 c 0.39 0.391 0.902 0.585 1.414 0.585 s 1.024 -0.194 1.414 -0.585 c 0.781 -0.781 0.781 -2.047 0 -2.828 L 6.829 28.009 H 88 c 1.104 0 2 -0.896 2 -2 s -0.896 -2 -2 -2 H 6.829 L 21.644 9.194 c 0.781 -0.781 0.781 -2.047 0 -2.828 c -0.78 -0.781 -2.048 -0.781 -2.828 0 L 0.587 24.594 C 0.494 24.687 0.41 24.79 0.337 24.9 c -0.033 0.049 -0.055 0.102 -0.083 0.153 C 0.219 25.116 0.181 25.177 0.153 25.244 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <path d="M 89.846 64.759 c 0.016 -0.038 0.023 -0.079 0.037 -0.118 c 0.029 -0.084 0.06 -0.166 0.077 -0.255 C 89.986 64.256 90 64.124 90 63.99 s -0.014 -0.266 -0.04 -0.395 c -0.018 -0.088 -0.049 -0.171 -0.077 -0.255 c -0.014 -0.039 -0.021 -0.08 -0.037 -0.118 c -0.038 -0.091 -0.088 -0.176 -0.138 -0.259 c -0.016 -0.027 -0.028 -0.058 -0.046 -0.084 c -0.073 -0.109 -0.156 -0.211 -0.249 -0.303 L 71.185 44.347 c -0.781 -0.781 -2.047 -0.781 -2.828 0 c -0.781 0.781 -0.781 2.047 0 2.829 L 83.172 61.99 H 2 c -1.104 0 -2 0.896 -2 2 s 0.896 2 2 2 h 81.172 L 68.356 80.806 c -0.781 0.781 -0.781 2.047 0 2.828 c 0.391 0.391 0.902 0.586 1.414 0.586 s 1.023 -0.195 1.414 -0.586 l 18.228 -18.228 c 0.093 -0.092 0.176 -0.194 0.249 -0.303 c 0.018 -0.027 0.029 -0.057 0.046 -0.084 C 89.758 64.934 89.808 64.85 89.846 64.759 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.45244 20.6664C0.888798 19.6917 0.450657 18.6497 0.148438 17.5651C0.806181 17.2306 1.35856 16.7206 1.74448 16.0916C2.13039 15.4626 2.33479 14.7392 2.33507 14.0012C2.33534 13.2633 2.13148 12.5397 1.74604 11.9104C1.3606 11.2812 0.808597 10.7708 0.151104 10.4358C0.753819 8.25641 1.90141 6.26637 3.48577 4.6531C4.10456 5.0554 4.8226 5.27865 5.56041 5.29814C6.29822 5.31763 7.02704 5.13261 7.66621 4.76354C8.30538 4.39447 8.82998 3.85576 9.18194 3.20702C9.5339 2.55827 9.69951 1.8248 9.66044 1.08776C11.8499 0.521927 14.1474 0.522845 16.3364 1.09043C16.2977 1.82745 16.4636 2.56082 16.8159 3.20937C17.1681 3.85793 17.6929 4.3964 18.3322 4.76518C18.9715 5.13396 19.7004 5.31868 20.4381 5.2989C21.1759 5.27912 21.8938 5.05561 22.5124 4.6531C23.2844 5.43976 23.9698 6.33443 24.5458 7.3331C25.1231 8.33176 25.5551 9.3731 25.8498 10.4344C25.192 10.769 24.6396 11.2789 24.2537 11.9079C23.8678 12.5369 23.6634 13.2604 23.6631 13.9983C23.6629 14.7362 23.8667 15.4598 24.2522 16.0891C24.6376 16.7184 25.1896 17.2287 25.8471 17.5638C25.2444 19.7431 24.0968 21.7332 22.5124 23.3464C21.8936 22.9441 21.1756 22.7209 20.4378 22.7014C19.7 22.6819 18.9712 22.8669 18.332 23.236C17.6928 23.6051 17.1682 24.1438 16.8163 24.7925C16.4643 25.4413 16.2987 26.1747 16.3378 26.9118C14.1483 27.4776 11.8508 27.4767 9.66177 26.9091C9.7005 26.1721 9.53457 25.4387 9.18233 24.7902C8.8301 24.1416 8.30529 23.6031 7.666 23.2344C7.0267 22.8656 6.29784 22.6808 5.56007 22.7006C4.8223 22.7204 4.10439 22.9439 3.48577 23.3464C2.69776 22.5424 2.01456 21.6419 1.45244 20.6664ZM8.9991 20.9278C10.4199 21.7473 11.4882 23.0625 11.9991 24.6211C12.6644 24.6838 13.3324 24.6851 13.9978 24.6224C14.509 23.0636 15.5778 21.7484 16.9991 20.9291C18.4194 20.1073 20.0931 19.8391 21.6991 20.1758C22.0858 19.6318 22.4191 19.0518 22.6964 18.4451C21.6023 17.223 20.9979 15.64 20.9991 13.9998C20.9991 12.3198 21.6258 10.7504 22.6964 9.55443C22.4171 8.94796 22.0824 8.36861 21.6964 7.82376C20.0915 8.16018 18.4188 7.8924 16.9991 7.07176C15.5783 6.25226 14.51 4.93707 13.9991 3.37843C13.3338 3.31576 12.6658 3.31443 12.0004 3.3771C11.4892 4.93596 10.4204 6.25118 8.9991 7.07043C7.57881 7.89218 5.90507 8.16046 4.2991 7.82376C3.91319 8.36814 3.57928 8.94758 3.30177 9.55443C4.39586 10.7765 5.00028 12.3595 4.9991 13.9998C4.9991 15.6798 4.37244 17.2491 3.30177 18.4451C3.58107 19.0516 3.91582 19.6309 4.30177 20.1758C5.90673 19.8394 7.57938 20.1071 8.9991 20.9278ZM12.9991 17.9998C11.9382 17.9998 10.9208 17.5783 10.1707 16.8282C9.42053 16.078 8.9991 15.0606 8.9991 13.9998C8.9991 12.9389 9.42053 11.9215 10.1707 11.1713C10.9208 10.4212 11.9382 9.99976 12.9991 9.99976C14.06 9.99976 15.0774 10.4212 15.8275 11.1713C16.5777 11.9215 16.9991 12.9389 16.9991 13.9998C16.9991 15.0606 16.5777 16.078 15.8275 16.8282C15.0774 17.5783 14.06 17.9998 12.9991 17.9998ZM12.9991 15.3331C13.3527 15.3331 13.6919 15.1926 13.9419 14.9426C14.192 14.6925 14.3324 14.3534 14.3324 13.9998C14.3324 13.6461 14.192 13.307 13.9419 13.057C13.6919 12.8069 13.3527 12.6664 12.9991 12.6664C12.6455 12.6664 12.3063 12.8069 12.0563 13.057C11.8062 13.307 11.6658 13.6461 11.6658 13.9998C11.6658 14.3534 11.8062 14.6925 12.0563 14.9426C12.3063 15.1926 12.6455 15.3331 12.9991 15.3331Z"
                  fill="#707070" />
              </svg>
            </a>
          </li>

          <li>
            <a href="#">
              <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 20.5H6.5V23H21.5V3H6.5V5.5H4V1.75C4 1.41848 4.1317 1.10054 4.36612 0.866116C4.60054 0.631696 4.91848 0.5 5.25 0.5H22.75C23.0815 0.5 23.3995 0.631696 23.6339 0.866116C23.8683 1.10054 24 1.41848 24 1.75V24.25C24 24.5815 23.8683 24.8995 23.6339 25.1339C23.3995 25.3683 23.0815 25.5 22.75 25.5H5.25C4.91848 25.5 4.60054 25.3683 4.36612 25.1339C4.1317 24.8995 4 24.5815 4 24.25V20.5ZM6.5 11.75H15.25V14.25H6.5V18L0.25 13L6.5 8V11.75Z"
                  fill="#707070" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- dashbord sidebar end  -->

    <!-- dashbord activity start -->
    <div class="dashbord__activity">
      <div class="dashbord__activity__header">
        <div class="dashbord__activity__header__title">
          <h3>Bem vindo <%= @user.name %> !</h3>
          <span>21 de agosto de 2023</span>
        </div>

      </div>
      <div class="dashbord__activity__health__meter">
        <div class="dashbord__activity__health__meter__blood__sugar">
          <div class="dashbord__activity__health__meter__blood__sugar__header">
            <div class="dashbord__activity__health__meter__blood__sugar__header__icon">
  <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M335.367,257.951c-7.187,0-13.033,5.847-13.033,13.034v43.562c0,7.187,5.847,13.033,13.033,13.033H512v-69.628H335.367z M357.347,312.858c-11.097,0-20.094-8.996-20.094-20.094c0-11.097,8.996-20.094,20.094-20.094s20.094,8.996,20.094,20.094 C377.44,303.862,368.444,312.858,357.347,312.858z"></path> </g> </g> <g> <g> <path d="M335.367,227.534H512V152.95c0-23.959-19.492-43.45-43.45-43.45h-6.084H133.703H43.45C19.492,109.5,0,128.991,0,152.95 v310.047c0,23.959,19.492,43.451,43.45,43.451h425.099c23.959,0,43.45-19.492,43.45-43.451v-105H335.367 c-23.959,0-43.45-19.491-43.45-43.45v-43.562C291.917,247.026,311.41,227.534,335.367,227.534z"></path> </g> </g> <g> <g> <polygon points="425.425,5.552 219.067,79.082 451.626,79.082 "></polygon> </g> </g> </g></svg>
            </div>
            <h3 class="dashbord__activity__health__meter__blood__sugar__header__title">
              Depósito
            </h3>
          </div>

        </div>

        <div class="dashbord__activity__health__meter__heart__rate">
          <div class="dashbord__activity__health__meter__heart__rate__header">
            <div class="dashbord__activity__health__meter__heart__rate__header__icon">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M535 7.03C544.4-2.343 559.6-2.343 568.1 7.029L632.1 71.02C637.5 75.52 640 81.63 640 87.99C640 94.36 637.5 100.5 632.1 104.1L568.1 168.1C559.6 178.3 544.4 178.3 535 168.1C525.7 159.6 525.7 144.4 535 135L558.1 111.1L384 111.1C370.7 111.1 360 101.2 360 87.99C360 74.74 370.7 63.99 384 63.99L558.1 63.1L535 40.97C525.7 31.6 525.7 16.4 535 7.03V7.03zM104.1 376.1L81.94 400L255.1 399.1C269.3 399.1 279.1 410.7 279.1 423.1C279.1 437.2 269.3 447.1 255.1 447.1L81.95 448L104.1 471C114.3 480.4 114.3 495.6 104.1 504.1C95.6 514.3 80.4 514.3 71.03 504.1L7.029 440.1C2.528 436.5-.0003 430.4 0 423.1C0 417.6 2.529 411.5 7.03 407L71.03 343C80.4 333.7 95.6 333.7 104.1 343C114.3 352.4 114.3 367.6 104.1 376.1H104.1zM95.1 64H337.9C334.1 71.18 332 79.34 332 87.1C332 116.7 355.3 139.1 384 139.1L481.1 139.1C484.4 157.5 494.9 172.5 509.4 181.9C511.1 184.3 513.1 186.6 515.2 188.8C535.5 209.1 568.5 209.1 588.8 188.8L608 169.5V384C608 419.3 579.3 448 544 448H302.1C305.9 440.8 307.1 432.7 307.1 423.1C307.1 395.3 284.7 371.1 255.1 371.1L158.9 372C155.5 354.5 145.1 339.5 130.6 330.1C128.9 327.7 126.9 325.4 124.8 323.2C104.5 302.9 71.54 302.9 51.23 323.2L31.1 342.5V128C31.1 92.65 60.65 64 95.1 64V64zM95.1 192C131.3 192 159.1 163.3 159.1 128H95.1V192zM544 384V320C508.7 320 480 348.7 480 384H544zM319.1 352C373 352 416 309 416 256C416 202.1 373 160 319.1 160C266.1 160 223.1 202.1 223.1 256C223.1 309 266.1 352 319.1 352z"/></svg>
            </div>
            <h3 class="dashbord__activity__health__meter__heart__rate__header__title">
              Saques
            </h3>
          </div>
        </div>

        <div class="dashbord__activity__health__meter__blood__pressure">
          <div class="dashbord__activity__health__meter__blood__pressure__header">
            <div class="dashbord__activity__health__meter__blood__pressure__header__icon">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">

<defs>
</defs>
<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 0.153 25.244 C 0.126 25.31 0.11 25.379 0.09 25.446 c -0.017 0.057 -0.039 0.112 -0.051 0.171 c -0.051 0.259 -0.051 0.525 0 0.783 c 0.012 0.059 0.034 0.114 0.051 0.171 c 0.02 0.068 0.036 0.136 0.063 0.202 c 0.028 0.067 0.066 0.128 0.101 0.192 c 0.028 0.051 0.05 0.104 0.083 0.153 c 0.074 0.11 0.157 0.213 0.251 0.306 l 18.228 18.228 c 0.39 0.391 0.902 0.585 1.414 0.585 s 1.024 -0.194 1.414 -0.585 c 0.781 -0.781 0.781 -2.047 0 -2.828 L 6.829 28.009 H 88 c 1.104 0 2 -0.896 2 -2 s -0.896 -2 -2 -2 H 6.829 L 21.644 9.194 c 0.781 -0.781 0.781 -2.047 0 -2.828 c -0.78 -0.781 -2.048 -0.781 -2.828 0 L 0.587 24.594 C 0.494 24.687 0.41 24.79 0.337 24.9 c -0.033 0.049 -0.055 0.102 -0.083 0.153 C 0.219 25.116 0.181 25.177 0.153 25.244 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
	<path d="M 89.846 64.759 c 0.016 -0.038 0.023 -0.079 0.037 -0.118 c 0.029 -0.084 0.06 -0.166 0.077 -0.255 C 89.986 64.256 90 64.124 90 63.99 s -0.014 -0.266 -0.04 -0.395 c -0.018 -0.088 -0.049 -0.171 -0.077 -0.255 c -0.014 -0.039 -0.021 -0.08 -0.037 -0.118 c -0.038 -0.091 -0.088 -0.176 -0.138 -0.259 c -0.016 -0.027 -0.028 -0.058 -0.046 -0.084 c -0.073 -0.109 -0.156 -0.211 -0.249 -0.303 L 71.185 44.347 c -0.781 -0.781 -2.047 -0.781 -2.828 0 c -0.781 0.781 -0.781 2.047 0 2.829 L 83.172 61.99 H 2 c -1.104 0 -2 0.896 -2 2 s 0.896 2 2 2 h 81.172 L 68.356 80.806 c -0.781 0.781 -0.781 2.047 0 2.828 c 0.391 0.391 0.902 0.586 1.414 0.586 s 1.023 -0.195 1.414 -0.586 l 18.228 -18.228 c 0.093 -0.092 0.176 -0.194 0.249 -0.303 c 0.018 -0.027 0.029 -0.057 0.046 -0.084 C 89.758 64.934 89.808 64.85 89.846 64.759 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
</svg>
            </div>
            <h3 class="dashbord__activity__health__meter__blood__pressure__header__title">
              Transferências
            </h3>
          </div>


        </div>
      </div>
      <div class="dashbord__activity__updates">
      
        <b class="dashbord__activity__updates__title">
          Saldo: R$<%= @user.account.balance %>
        </b>

      </div>
    </div>

    <!-- dashbord activity end -->
    <div class="dashbord__bmicalculator">
      <div class="dashbord__bmicalculator__header">
        <h3 class="dashbord__bmicalculator__header__title">Extrato de transações</h3>
        <select class="dashbord__bmicalculator__header__weekdays">
          <option>Última semana</option>
        </select>
      </div>
      teste
    </div>

      <hr />

    </div>
  </section>
  <!-- dashbord section end -->
</body>

</html>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
